* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0 )), url(https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
  color: white;
}

.about {
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.about-text {
  display: flex;
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 5em;
}
  

