
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
}

.hero {
  height: 100vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0 )), url(https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
  color: white;
 
}

body > section.hero > div > p:nth-child(1) > span{
  font-size: 5em;
  font-weight: 600;
  font-family: "Sofia", sans-serif;
  
}

.navbar-brand, .hero-text, .nav-link {
  font-family: "Sofia", sans-serif;
  
}

body > section.hero > div > p:nth-child(2) {
  font-size: 3em;
  font-weight: 400;
}

h2,h3,h4 {
  font-family: "Sofia", sans-serif;
  font-weight: 400;

}

.nav-link {
  font-size: 17px;
}

 .nav-link:hover {
  border-radius: 10px;
  background-color: rgb(109, 198, 225);
}



.about {
  height: 80vh;
  background-color: #1d292a;
  display: flex;
  flex-direction: column;
}

h2 {
  height: 20%;
  text-align: center;
  padding-top: 1.5em;
}

.about-text {
  height: 60%;
}

.about-btn {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


.picture {
  background-image:url(https://images.unsplash.com/photo-1584369372650-359b4003e743?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
  
.ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #1d292a;
}



.chocolate-image {
  background-image:url(https://images.unsplash.com/photo-1583743089695-4b816a340f82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:60vh;



}

.matza-image {
  background-image:url(https://images.unsplash.com/photo-1622467827417-bbe2237067a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}


footer {
  height: 60vh;
  background-color: #1d292a;
  display: flex;
  flex-direction: column;
  
}

.icons-contact {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (max-width:767px) {

  body > section.samples > div > div > div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-text {
    font-size: 0.5em;
    padding-top: 3em;
  }


  .nav-link:hover {
    border-radius: 10px;
    background-color: rgb(181, 232, 248);
  }

  
  
}
